/* RESET TO CUSTOM SPACES */
* {
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  font-family: "Nunito Sans", sans-serif;
}

/* CENTER THE PAGE */
.firstcontainer {
  margin: 0 auto;
  text-align: center;
}

.secondcontainer {
  width: 1000px;
  margin: 0 auto;
}

header {
  margin-bottom: 60px;
  /* we changed nav a:link from inline to inline-block.
so, don't set a fixed height on elements. */
}

h1 {
  font-size: 36px;
  text-transform: uppercase;
  padding: 20px 0;
  border-bottom: #222 solid 1px;
}

/*
pseudo classes are written with one colon, 
pseudo elements are with two colons.
*/
h1::first-letter {
  font-style: italic;
  padding-right: 4px;
}

h1 a:link {
  text-decoration: none;
}

h1 a:visited {
  color: #000;
}

h1 a:hover {
  color: #000;
}

h1 a:active {
  color: #777;
}
nav {
  padding: 15px 0;
  font-size: 18px;
  border-bottom: #222 solid 2px;
  text-transform: uppercase;
}

nav a:link {
  color: #777;
  margin-right: 20px;
  text-decoration: none;
}

nav a:link:last-child {
  margin-right: 0;
}

nav a:visited {
  color: #777;
}

nav a:hover {
  color: #000;
  font-weight: bold;
  text-decoration: underline solid #000;
}

nav a:active {
  color: #777;
}
/* LVHA */

h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

h3 {
  line-height: 1.2;
  margin-bottom: 20px;
}

.edit {
  font-size: 14px;
  padding: 0px 8px;
  margin-bottom: 20px;
  border-right: 1.5px solid;
  display: inline-block;
}

.author {
  padding-left: 0px;
}

.author-link:link {
  color: #777;
  text-decoration: none;
}

.author-link:visited {
  color: #777;
}

.author-link:hover {
  color: #000;
  font-weight: bold;
  text-decoration: underline solid #000;
}

.author-link:active {
  color: #777;
}

.date {
  border-right: none;
}

.line {
  border-bottom: 1.5px solid;
  width: 32px;
  margin-bottom: 2.5px;
}

.main-img {
  margin-bottom: 15px;
}

.credit {
  color: #777;
  padding-bottom: 15px;
  border-bottom: 1px solid;
  margin-bottom: 15px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}

h4 {
  font-size: 32px;
  margin-bottom: 15px;
}

li {
  list-style: none;
}

aside {
  border-left: 10px double;
  padding: 0 0 0 10px;
  width: 500px; /*추후에 옆으로 보낼때 바꿔야하나?*/
}

h5 {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

aside li {
  font-size: 12px;
  margin-bottom: 20px;
}

aside img {
  max-width: 20%;
}

aside li:last-child {
  font-size: 12px;
  margin-bottom: 0px;
}

/* 
Misconception:
this selector should have selected the first p element inside of the article. 
HOWEVER, the first-child of article is actually header. 
so this won't work!
article p:first-child {
  color: red;
}
*/
